@import "./components/dropdown";
@import "./components/modal";
@import "./components/slider";
@import "./components/breadcrumb";

@import "./core/reset";
@import "./core/typograpy";

@import"./layouts/header";
@import"./layouts/footer";


@import "./pages/product";