/* FOOTER SECTION STYLE GOES HERE */
.footer {
  background-color: #1D1E28;
  padding-top: 64px;
  padding-bottom: 32px;
  border-radius: 48px 48px 0 0;

  /* ≤1024px */
  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ≤768px */
  @media (max-width: 768px) {
    border-radius: 32px 32px 0 0;
    padding-top: 40px;
  }

  .footer-logo {
    img {
      max-width: 250px;

      @media (max-width: 768px) {
        max-width: 150px;
      }
    }
  }

  .footer-top {
    display: flex;
    gap: 100px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(0, 117, 191, 0.3);

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      gap: 40px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 32px;
    }
  }

  .footer-social-links {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: all .3s ease-in-out;

    @media (max-width: 1536px) {
      gap: 24px;
    }

    @media (max-width: 768px) {
      gap: 20px;
    }

    li {
      transition: all .3s ease-in-out;

      &:hover {
        transform: rotate(380deg);
      }

      img {
        @media (max-width: 1536px) {
          width: 32px;
          height: 32px;
        }

        @media (max-width: 768px) {
          width: 26px;
          height: 26px;
        }
      }
    }
  }

  .footer-col {
    flex: 1;

    &:nth-child(1) {
      flex: 0 0 391px;

      @media (max-width: 1024px) {
        flex: 0 0 100%;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    h4 {
      font-family: 'RotisSansSerif';
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      color: #fff;
      border-bottom: 1px solid rgba(0, 117, 191, 0.3);
      padding-bottom: 24px;
      margin-bottom: 24px;

      @media (max-width: 768px) {
        padding-bottom: 12px;
        margin-bottom: 16px;
      }
    }

    .footer-menu {
      li {
        font-size: 16px;
        line-height: 25px;
        color: #fff;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        a {
          transition: all .3s ease-in-out;
        }

        &:hover a {
          color: var(--color-brand-blue);
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 16px;
      text-align: center;
    }

    p {
      font-size: 16px;
      line-height: 25px;
      color: #fff;
    }
  }
}