.breadcrumb {
  margin-top: 48px;

  &-list {
    display: flex;
    align-items: center;
  }

  &-item {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    opacity: 70%;

    &:not(:last-child) {
      &::after {
        content: "";
        background-image: url(../images/icons/DropDown.svg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center right;
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 5px;
      }

    }

    &.active {
      color: #0075BF;
      opacity: 100%;
    }

    a {
      text-transform: capitalize;
    }
  }
}