.viewall {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .3s all ease-in-out;

  &::after {
    content: '';
    background-image: url(../images/icons/view-all.svg);
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    width: 20px;
    height: 20px;
  }

  &:hover {
    color: #0075BF;
    transition: .3s all ease-in-out;
  }
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C8C8C8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}