.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-pagination {
  bottom: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    bottom: 20px !important;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  opacity: 50%;

  @media (max-width: 768px) {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  opacity: 100%;
  border: 3px solid #FFFFFF3D;

  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
  }


}

.logo-carousel {
  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }
}


.thumb-slider {
  border: 1px solid #E5E5E5;
  border-radius: 24px;
  box-shadow: 0px 3px 12px 0px #00000014;

  .swiper-button-next,
  .swiper-button-prev {
    background-color: #FFFFFF;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    &::after {
      content: "";
      background-image: url(../images/icons/prev.svg);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      width: 24px;
      height: 24px;
      display: block;
    }
  }

  .swiper-button-prev {
    &::after {
      transform: rotate(180deg);
    }
  }

  .swiper-slide {
    height: auto;

    img {
      height: 100%;
    }
  }

}

.gallery-slider {

  .swiper-slide {
    opacity: 60%;
    border: 1px solid #0075BF;
    border-radius: 4px;
    cursor: pointer;

    img {
      height: 104px;
      border-radius: 4px;

      @media (max-width: 768px) {
        height: 80px;
      }
    }

    &.swiper-slide-thumb-active {
      opacity: 100%;
    }
  }
}

