:root {
  --color-brand-blue: #0075bf;
  --color-brand-black: #000000;
}


/* CSS RESET  */
body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: inherit;
}

section {
  max-width: 100vw;
}

label {
  margin: 0;
  padding: 0;
}

button {
  &:focus {
    outline: none;
  }
}

ul,
li {
  padding: 0;
  list-style: none;
  margin: 0px;
}

.container {
  padding-inline: 16px;
}

/* HEADER STYLE GOES HERE */
.header {
  .header-menu {
    li {
      a {
        &::after {
          content: '';
          background-image: url(../images/DropDown.svg);
          background-repeat: no-repeat;
          background-position: right;
          display: block;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

/* SECTION TITLE STYLES GOES HERE */

.section-title {
  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #1D1E28;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

/* TEXT HOVER STYLE GOES HERE */
.hover-text {
  transition: .3s all ease-in-out;

  img {
    transition: .3s all ease-in-out;
  }

  &:hover {
    color: var(--color-brand-blue);
    transition: .3s all ease-in-out;

    img {
      filter: brightness(0) saturate(100%) invert(31%) sepia(93%) saturate(1028%) hue-rotate(175deg) brightness(94%) contrast(108%);
      transition: .3s all ease-in-out;
    }
  }
}