.category {

  &-wrapper {
    display: flex;
    gap: 32px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &-list {
    border-width: 1px;
    border-style: solid;
    border-color: #E5E5E5;
    border-radius: 20px;
    padding-top: 16px;
    width: 22.4%;
    height: max-content;

    @media (max-width: 1024px) {
      width: 100%;
    }

    ul {
      margin-top: 16px;

      li {
        font-weight: 500;
        font-size: 16px;
        color: #000000B2;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 12px 20px;
        transition: .3s all ease-in-out;
        cursor: pointer;

        span {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        &.active {
          background-color: #F3F3F3;
          transition: .3s all ease-in-out;
        }

        &::before {
          content: '';
          background-image: url(../images/icons/ion_flash-outline.svg);
          background-position: right center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 16px;
          height: 16px;
          display: block;
        }

        &::after {
          content: '';
          background-image: url(../images/icons/DropDown.svg);
          background-position: right center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 20px;
          height: 20px;
          display: block;
          margin-left: auto;
          transform: rotate(90deg);
          transition: .3s all ease-in-out;
          flex-shrink: 0;

        }

        &:hover {
          background-color: #F3F3F3;
          transition: .3s all ease-in-out;

          &::after {
            transform: rotate(0deg);
            transition: .3s all ease-in-out;
          }
        }
      }


    }
  }

  &-detail {
    display: flex;
    flex-direction: column;
    width: 57%;

    @media (max-width: 1024px) {
      width: 100%;
    }

    .content-block {
      padding: 24px;

      &:nth-child(even) {
        border: 1px solid #E5E5E5;
        border-radius: 24px;
      }

      &:not(:last-child) {
        margin-bottom: 64px;
      }

      .content-block-flex {
        display: flex;
        gap: 24px;
        align-items: flex-start;

        @media (max-width:1280px) {
          flex-direction: column;
        }
      }

      .content-block-img {
        max-width: 240px;
        width: 100%;
        border: 1px solid #E5E5E5;
        border-radius: 20px;

        img {
          height: 100%;
          border-radius: 20px;
          padding: 20px;
        }
      }

      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
        flex: 1;
        max-width: 600px;
        width: 100%;

        @media (max-width: 1280px) {
          max-width: 100%;
          font-size: 16px;
          line-height: 28px;
        }
      }

      .content-block-slider {
        background-color: #FAFAFA;
        padding: 24px;
        border-radius: 16px;
        margin-top: 24px;

        .swiper-button-next,
        .swiper-button-prev {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #0075BF14;
          border: 1px solid #0075BF;

          &::before {
            content: "";
            background-image: url(../images/icons/DropDownBlue.svg);
            background-position: right center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            display: block;
          }
        }

        .swiper-button-prev {
          transform: rotate(180deg);
        }
      }
    }
  }

  &-file {
    background-color: #F3F3F3;
    border: 1px solid #E5E5E5;
    border-radius: 24px;
    padding: 16px 8px 8px 8px;
    flex: 1;
    height: max-content;

    .file-block {
      background-color: #fff;
      border: 1px solid #E5E5E5;
      border-radius: 24px;

      img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        padding: 10px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        color: #0075BF;
        padding: 16px;
        border-top: 1px solid #E5E5E5;
      }
    }
  }
}

// PRODUCT CARDS STYLE
.products {
  .card {
    border: 1px solid #E5E5E5;
    border-radius: 24px;

    &-image {
      img {
        border-radius: 24px 24px 0 0;
        padding: 24px;
      }
    }

    &-body {
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-top: 1px solid #E5E5E5;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 100%;
        color: #000000;
        opacity: 70%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #000;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        max-width: 192px;
        width: 100%;
      }

      span {
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 24px;
        color: #22C55E;
        display: inline-block;
        white-space: nowrap;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #000000;
      }

      button {
        border: none;
        background: #0075BF;
        color: #fff;
        padding: 12px 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        border-radius: 40px;
      }

      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #0075BF;
        display: none;
      }
    }
  }

  &.listView {
    .card {
      display: flex;

      &-image {
        img {
          border-radius: 24px 0px 0 24px;
          height: 100%;
        }
      }

      &-body {
        width: 100%;
        border-left: 1px solid #E5E5E5;
        border-top: 0;
      }

      &-footer {
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;

        a {
          display: block;
        }
      }
    }
  }
}

// BRAND CARD STYLE
.manufacturers {

  .card {
    border: 1px solid #E5E5E5;
    border-radius: 24px;
    padding: 24px;

    &-head {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 80px;
        height: 80px;
        border: 1px solid #E5E5E5;
        border-radius: 16px;
      }

      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #000000;
      }
    }

    &-body {
      p {
        margin-top: 16px;
        font-weight: 500;
        font-size: 14px;
        color: #000000;
        opacity: 70%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &-footer {
      border-top: 1px solid #E5E5E5;
      padding-top: 16px;
      margin-top: 16px;
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 40px;
        height: 40px;
      }

      h3 {
        font-weight: 500;
        font-size: 14px;
        color: #000;

        span {
          font-weight: 700;
        }
      }
    }
  }
}

// CONTRACT CARDS STYLE
.product-card {
  border: 1px solid #E5E5E5;
  border-radius: 24px;
  position: relative;

  &-discount {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px 1px #0000001F;
    padding: 7.5px 16px;
    background-color: #0075BF;
    color: #fff;
    border-radius: 60px;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &-image {
    img {
      border-radius: 24px 24px 0 0;
      width: 100%;
      height: 100%;
    }
  }

  &-body {
    padding: 16px;
    border-top: 1px solid #E5E5E5;

    p {
      font-weight: 500;
      font-size: 16px;
      color: #000000;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      max-width: 252px;
      width: 100%;
    }
  }
}

// CATELOG CARDS STYLE
.catelogue-card {
  border: 1px solid #E5E5E5;
  border-radius: 24px;

  &-image {
    img {
      border-radius: 24px 24px 0 0;
    }
  }

  &-content {
    padding: 16px;
    background-color: #0075BF;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 0 0 24px 24px;


    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

// TAB STYLE
.tab {

  &_wrapper {
    display: flex;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &_nav {
    max-width: 340px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E5E5;
    border-radius: 24px;
    height: max-content;
    padding-bottom: 200px;
  }

  &_panel {
    flex: 1;
  }

  &_item {
    padding: 12px 20px;
    position: relative;
    cursor: pointer;
    transition: .3s all ease-in-out;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      background-image: url(../images/icons/arrow-down.svg);
      background-position: right center;
      background-repeat: no-repeat;
      background-size: auto;
      width: 20px;
      height: 20px;
      display: block;
      flex-shrink: 0;
      margin-left: auto;
      transition: .3s all ease-in-out;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      font-weight: 500;
      font-size: 16px;
      color: #000000B2;
    }

    &:hover {
      background-color: #F3F3F3;
      transition: .3s all ease-in-out;

      &::after {
        transform: rotate(-90deg);
        transition: .3s all ease-in-out;
      }
    }

    &:first-child {
      border-radius: 24px 24px 0 0;
    }

    &:last-child {
      border-radius: 0 0 24px 24px;
    }
  }
}

.tabBtn {
  &.active {
    background-color: #F3F3F3;
    transition: .3s all ease-in-out;

    &::after {
      transform: rotate(0deg);
      transition: .3s all ease-in-out;
    }
  }
}

.tabContent {
  display: none;

  &.active {
    display: block;
  }
}

// CATELOG PAGE GRID STYLE

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;

  @media (max-width:1040px) {
    gap: 24px;
  }

  .div2,
  .div3,
  .div4,
  .div5 {
    height: 400px;
  }

  div {
    border: 1px solid #E5E5E5;
    border-radius: 24px;
    box-shadow: 0px 2px 10px 1px #00000014;

    img {
      border-radius: 24px;
      height: 100%;
    }
  }

  .div1 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;

    @media (max-width:1040px) {
      grid-column: span 6 / span 6;
      grid-row: span 2 / span 2;
    }
  }

  .div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;

    @media (max-width:1040px) {
      grid-column: span 3 / span 3;
      grid-row: span 2 / span 2;
      grid-row-start: 3;
    }
  }

  .div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;

    @media (max-width:1040px) {
      grid-column: span 3 / span 3;
      grid-row: span 2 / span 2;
      grid-column-start: 4;
      grid-row-start: 3;
    }
  }

  .div4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;

    @media (max-width:1040px) {
      grid-column: span 3 / span 3;
      grid-row: span 2 / span 2;
      grid-row-start: 5;
    }
  }

  .div5 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 4;

    @media (max-width:1040px) {
      grid-column: span 3 / span 3;
      grid-row: span 2 / span 2;
      grid-column-start: 4;
      grid-row-start: 5;
    }
  }
}