// PRODUCT CARDS STYLE
.products {
  .card {
    border: 1px solid #E5E5E5;
    border-radius: 24px;

    &-image {
      img {
        border-radius: 24px 24px 0 0;
        padding: 24px;
      }
    }

    &-body {
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-top: 1px solid #E5E5E5;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 100%;
        color: #000000;
        opacity: 70%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #000;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        max-width: 192px;
        width: 100%;
      }

      span {
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 24px;
        color: #22C55E;
        display: inline-block;
        white-space: nowrap;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #000000;
      }

      button {
        border: none;
        background: #0075BF;
        color: #fff;
        padding: 12px 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        border-radius: 40px;
      }

      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #0075BF;
        display: none;
      }
    }
  }

  &.listView {
    .card {
      display: flex;

      &-image {
        img {
          border-radius: 24px 0px 0 24px;
          height: 100%;
        }
      }

      &-body {
        width: 100%;
        border-left: 1px solid #E5E5E5;
        border-top: 0;
      }

      &-footer {
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;

        a {
          display: block;
        }
      }
    }
  }
}

// BRAND CARD STYLE
.manufacturers {

  .card {
    border: 1px solid #E5E5E5;
    border-radius: 24px;
    padding: 24px;

    &-head {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 80px;
        height: 80px;
        border: 1px solid #E5E5E5;
        border-radius: 16px;
      }

      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #000000;
      }
    }

    &-body {
      p {
        margin-top: 16px;
        font-weight: 500;
        font-size: 14px;
        color: #000000;
        opacity: 70%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &-footer {
      border-top: 1px solid #E5E5E5;
      padding-top: 16px;
      margin-top: 16px;
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 40px;
        height: 40px;
      }

      h3 {
        font-weight: 500;
        font-size: 14px;
        color: #000;

        span {
          font-weight: 700;
        }
      }
    }
  }
}