// PRODUCT CARDS STYLE

.card {
  border: 1px solid #E5E5E5;
  border-radius: 24px;

  &-image {
    img {
      border-radius: 24px 24px 0 0;
    }
  }

  &-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid #E5E5E5;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      color: #000000;
      opacity: 70%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #000;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      max-width: 192px;
      width: 100%;
    }

    span {
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 24px;
      color: #22C55E;
      display: inline-block;
      white-space: nowrap;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: #000000;
    }

    button {
      border: none;
      background: #0075BF;
      color: #fff;
      padding: 12px 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      border-radius: 40px;
    }
  }
}